@font-face {
    font-family: 'Avenir-Heavy';
    src: url('./fonts/AvenirHeavy.ttf');
}

footer {
    font-family: 'Avenir-Heavy';
}

.arcade-footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: -586%;
    width: 100%;
    z-index: 6;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    
}

.footer-links a:hover {
    text-decoration: underline;
}
